extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Frossarbo 17'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container px-5',
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover overlay overlay-light overlay-80',
        pageHeaderBgImg: 'background-image: url("/assets/img/frossarbo17/outside4.jpg.webp")',
        pageHeaderStyle: 'page-header-ui-light',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .page-header-ui-content.py-5.position-relative
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-xl-8.col-lg-10.text-center
                        h1.page-header-ui-title.i18nelement(data-i18n='frossarbo17.title')
                        p.page-header-ui-text.mb-5.i18nelement(data-i18n='frossarbo17.description')


    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        //- * * * * * * * * * * *
        //- * * Intro Section * *
        //- * * * * * * * * * * *

        .container.px-5.pb-10
            .row.gx-5.text-center
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(class="fas fa-bed")
                    h3.i18nelement(data-i18n='frossarbo17.metadata.beds-title')
                    p.mb-0.i18nelement(data-i18n='frossarbo17.metadata.beds-description')
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(class="fas fa-sink")
                    h3.i18nelement(data-i18n='frossarbo17.metadata.kitchen-title')
                    p.mb-0.i18nelement(data-i18n='frossarbo17.metadata.kitchen-description')
                .col-lg-4
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(class="fas fa-shower")
                    h3.i18nelement(data-i18n='frossarbo17.metadata.shower_and_wash-title')
                    p.mb-0.i18nelement(data-i18n='frossarbo17.metadata.shower_and_wash-description')
                
        .container.px-5.pb-10
            .row.justify-content-center.gx-5.text-center
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(class="fas fa-couch")
                    h3.i18nelement(data-i18n='frossarbo17.metadata.living_room-title')
                    p.mb-0.i18nelement(data-i18n='frossarbo17.metadata.living_room-description')
                .col-lg-4
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(class="fas fa-cloud-sun")
                    h3.i18nelement(data-i18n='frossarbo17.metadata.outside-title')
                    p.mb-0.i18nelement(data-i18n='frossarbo17.metadata.outside-description')

        //- * * * * * * * * *
        //- * * Portfolio * *
        //- * * * * * * * * *

    
        //- List of images, with title translation string and name of image file.
        - 
          var images_col1 = [ ["bedroom1", "bedroom1.jpg.webp"],
              ["bedroom2", "bedroom2.jpg.webp"],
              ["bedroom3", "bedroom3.jpg.webp"],
              ["bedroom4", "bedroom4.jpg.webp"],
              ["bedroom6", "bedroom6.jpg.webp"],
              ["bedroom7", "bedroom7.jpg"],
          ]

        - 
          var images_col2 = [ ["outside3", "outside3.jpg"],
              ["outside4", "outside4.jpg.webp"],
              ["outside5", "outside5.jpg.webp"],
              ["outside8", "outside8.jpg.webp"],
              ["outside9", "outside9.jpg.webp"],
              ["bathroom1", "bathroom1.jpg.webp"],
              ["bathroom2", "bathroom2.jpg.webp"],
          ]

        - 
          var images_col3 = [ ["kitchen4", "kitchen4.jpg"],
              ["livingroom1",  "livingroom1.jpg.webp"],
              ["livingroom2",  "livingroom2.jpg"],
              ["livingroom3",  "livingroom3.jpg.webp"],
              ["livingroom6",  "livingroom6.jpg.webp"],
              ["basement4", "basement4.jpg.webp"],
          ]

        .container.px-5
            .row.gx-5
                .col-md-4
                    - for (var i = 0; i < images_col1.length; i++) 
                        .card.card-portfolio.mb-5
                            img.card-img-top(src='/assets/img/frossarbo17/' + images_col1[i][1] , alt='...')
                            .card-body
                                .card-title.i18nelement(data-i18n='frossarbo17.images.' + images_col1[i][0] + "-title") 
                    
                .col-md-4
                    - for (var i = 0; i < images_col2.length; i++) 
                        .card.card-portfolio.mb-5
                            img.card-img-top(src='/assets/img/frossarbo17/' + images_col2[i][1] , alt='...')
                            .card-body
                                .card-title.i18nelement(data-i18n='frossarbo17.images.' + images_col2[i][0] + "-title") 

                .col-md-4
                    - for (var i = 0; i < images_col3.length; i++) 
                        .card.card-portfolio.mb-5
                            img.card-img-top(src='/assets/img/frossarbo17/' + images_col3[i][1] , alt='...')
                            .card-body
                                .card-title.i18nelement(data-i18n='frossarbo17.images.' + images_col3[i][0] + "-title") 

    //- * * * * * * * * * * * * * * * *
    //- * * Contact Button Section  * *
    //- * * * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container.px-5
            .row.gx-5.justify-content-center
                .col-xl-6.col-lg-8.col-md-10.text-center.py-5
                    h2
                        .i18nelement(data-i18n='frossarbo17.readytobook')
                    .lead.text-gray-500.mb-5
                        p.i18nelement(data-i18n='frossarbo17.readytobook-description')
                    a(href='contact.html').btn.btn-primary.fw-500
                        .i18nelement(data-i18n='pages.contact')

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })