extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Frossarbo 17'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container px-5',
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover overlay overlay-light overlay-80',
        pageHeaderBgImg: 'background-image: url("/assets/img/frossarbo17/outside4.jpg.webp")',
        pageHeaderStyle: 'page-header-ui-light',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .page-header-ui-content.py-5.position-relative
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-xl-8.col-lg-10.text-center
                        h1.page-header-ui-title.i18nelement(data-i18n='frossarbo17.title')
                        p.page-header-ui-text.mb-5.i18nelement(data-i18n='frossarbo17.description')

    //- * * * * * * * * *
    //- * * Portfolio * *
    //- * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })
        //- List of images, with title translation string and name of image file.
        - 
          var images_col1 = [ ["outside4", "outside4.jpg.webp"],
              ["outside4", "outside4.jpg.webp"],
          ]

        - 
          var images_col2 = [ ["outside4", "outside4.jpg.webp"],
              ["outside4", "outside4.jpg.webp"],
          ]

        - 
          var images_col3 = [ ["outside4", "outside4.jpg.webp"],
              ["outside4",  "outside4.jpg.webp"],
          ]

        .container.px-5
            .row.gx-5
                .col-md-4
                    - for (var i = 0; i < images_col1.length; i++) 
                        .card.card-portfolio.mb-5
                            img.card-img-top(src='/assets/img/frossarbo17/' + images_col1[i][1] , alt='...')
                            .card-body
                                .card-title.i18nelement(data-i18n='frossarbo17.images.' + images_col1[i][0] + "-title") 
                    
                .col-md-4
                    - for (var i = 0; i < images_col2.length; i++) 
                        .card.card-portfolio.mb-5
                            img.card-img-top(src='/assets/img/frossarbo17/' + images_col2[i][1] , alt='...')
                            .card-body
                                .card-title.i18nelement(data-i18n='frossarbo17.images.' + images_col2[i][0] + "-title") 

                .col-md-4
                    - for (var i = 0; i < images_col3.length; i++) 
                        .card.card-portfolio.mb-5
                            img.card-img-top(src='/assets/img/frossarbo17/' + images_col3[i][1] , alt='...')
                            .card-body
                                .card-title.i18nelement(data-i18n='frossarbo17.images.' + images_col3[i][0] + "-title") 

    //- * * * * * * * * * * * * * * * *
    //- * * Contact Button Section  * *
    //- * * * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container.px-5
            .row.gx-5.justify-content-center
                .col-xl-6.col-lg-8.col-md-10.text-center.py-5
                    h2 Ready to get Started?
                    p.lead.text-gray-500.mb-5 We'd love to hear from you about your branding and digital needs. We are currently accepting new clients.
                    a(href='#!').btn.btn-primary.fw-500 Contact us

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })