// 
// Color overrides
// 

// This file is intentionally blank
// Use this file to override any color variables within the project

// You can also replace this file with a file exported from the customizer, 
// which you can access from the widget at https://themes.startbootstrap.com/sb-ui-kit-pro/

// * * * * * * * *
// * * Example * *
// * * * * * * * *

// Uncomment below and rebuild the SCSS to see color changes in effect

$primary: #06794f;
$secondary: #0fa28b;
$success: #3ac97c;
$danger: #d73f30;
$warning: #ebb20c;
$info: #9d46cd;
// $primary: #74a051;
// $secondary: #FBB731;
// $primary: $orange;
// $secondary: $pink;